<section class="benefits section-inner">
  <span class="benefits__bg">
    <img src="img/benefits_bg.png" alt="" />
  </span>
  <div class="benefits__teaser container">
    <div class="title">
      <p class="suptitle">Почему выбрать нас жилой комплекс?</p>
      <h2 class="maintitle">Преимущества</h2>
    </div>

    <div class="benefits__items row">
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-security"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Безопасность</span>
            <p class="benefit__desc">
              Мы делаем все, что бы наши клиенты чуствовали себя комфортно
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-location"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Локация</span>
            <p class="benefit__desc">
              Удобное расположение в престижном районе города
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-materials"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Материалы</span>
            <p class="benefit__desc">
              Мы используем только качественные материалы от проверенных
              поставщиков
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-design"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Дизайн</span>
            <p class="benefit__desc">
              Современный дизайн который не оставить равнодушно каждого
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-infrastructure"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Инфаструктура</span>
            <p class="benefit__desc">
              Разнообразная социальная и бытовая инфаструктура для комфорной
              жизни
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-layouts"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Планировки</span>
            <p class="benefit__desc">
              Тщательно продуманные планировки квартир подейдет для каждого
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-glazing"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Остекление</span>
            <p class="benefit__desc">
              Большие панорамные окна придают жизненной силы в каждой квартире
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-elevator"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Скоростной лифт</span>
            <p class="benefit__desc">
              Мы предусмотрели надёжные и инновационные лифты, производством из
              зарубежа
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-percent"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Рассрочка</span>
            <p class="benefit__desc">Беспроцентной рассрочка до 12 месяцев</p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
    </div>
  </div>
</section>
