<section class="benefits section-inner">
  <span class="benefits__bg">
    <img src="img/benefits_bg.png" alt="" />
  </span>
  <div class="benefits__teaser container">
    <div class="title">
      <p class="suptitle">Почему выбрать нас жилой комплекс?</p>
      <h2 class="maintitle">Преимущества</h2>
    </div>

    <div class="benefits__items row">
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-security"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Безопасность</span>
            <p class="benefit__desc">
              Мы делаем все, что бы наши клиенты чуствовали себя комфортно
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-location"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Локация</span>
            <p class="benefit__desc">
              Удобное расположение в престижном районе города
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-materials"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Материалы</span>
            <p class="benefit__desc">
              Мы используем только качественные материалы от проверенных
              поставщиков
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-design"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Дизайн</span>
            <p class="benefit__desc">
              Современный дизайн который не оставить равнодушно каждого
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-infrastructure"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Инфаструктура</span>
            <p class="benefit__desc">
              Разнообразная социальная и бытовая инфаструктура для комфорной
              жизни
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-layouts"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Планировки</span>
            <p class="benefit__desc">
              Тщательно продуманные планировки квартир подейдет для каждого
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-glazing"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Остекление</span>
            <p class="benefit__desc">
              Большие панорамные окна придают жизненной силы в каждой квартире
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-elevator"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Скоростной лифт</span>
            <p class="benefit__desc">
              Мы предусмотрели надёжные и инновационные лифты, производством из
              зарубежа
            </p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
      <div class="col-lg-4">
        <div class="benefit">
          <span class="benefit__icon icon-percent"></span>
          <div class="benefit__texts">
            <span class="benefit__title">Рассрочка</span>
            <p class="benefit__desc">Беспроцентной рассрочка до 12 месяцев</p>
          </div>
        </div>
      </div>
      <!-- /Benefit -->
    </div>

    <div class="title">
      <p class="suptitle">Выберите подходящую вам квартиру</p>
      <h2 class="maintitle">Планировки</h2>
    </div>

    <div class="appartment row">
      <div class="col-lg-6">
        <div class="appartment__items appartment__type">
          <span class="appartment__title">Тип недвижимости</span>
          <div class="appartment__buttons">
            <div class="appartment__button appartment__button--active">
              Жилой
            </div>
            <div class="appartment__button">Коммерческий</div>
          </div>
        </div>
        <div class="appartment__items appartment__count">
          <span class="appartment__title">Количество комнат</span>
          <div class="appartment__buttons">
            <div class="appartment__button appartment__button--active">1</div>
            <div class="appartment__button">2</div>
            <div class="appartment__button">3</div>
          </div>
        </div>
        <div class="appartment__items appartment__size">
          <span class="appartment__title">Квадратура квартиры</span>
          <div class="appartment__buttons">
            <div class="appartment__button appartment__button--active">
              42,7 m2
            </div>
            <div class="appartment__button">54,9 m2</div>
            <div class="appartment__button">55.0 m2</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="appartment__image">
          <img src="img/appartment.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
