<section class="contacts section-inner">
  <span class="contacts__bg">
    <img src="img/contacts_bg.png" alt="" />
  </span>
  <span class="contacts__circle">
    <img src="img/contacts_circle.png" alt="" />
  </span>
  <div class="contacts__teaser container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="contacts__img">
          <img src="img/contacts_img.jpg" alt="" />

          <span class="contacts__logo">
            <img src="img/logos/logo_gold.svg" alt="" />
          </span>
        </div>
      </div>
      <div class="col-lg-8">
        <span class="contacts__title">Наши контакты</span>

        <div class="contacts__items">
          <div class="contact">
            <span class="contact__icon icon-marker"></span>
            <a class="contact__link" href="#">
              г. Ташкент, Юнусабадский р-н,<br />
              ул. Шахристан, дом 36
            </a>
          </div>
          <div class="contact">
            <span class="contact__icon icon-phone"></span>
            <a class="contact__link" href="tel:+998900511199">
              +998 (90) 051-11-99
            </a>
          </div>
          <div class="contact">
            <span class="contact__icon icon-phone"></span>
            <a class="contact__link" href="tel:+998900511166">
              +998 (90) 051-11-66
            </a>
          </div>
          <div class="contact">
            <span class="contact__icon icon-mail"></span>
            <a class="contact__link" href="mailto:kamol_construction@mail.ru">
              Kamol_construction@mail.ru
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
