<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="footer__promo">
          <span class="footer__logo">
            <img src="img/logos/logo_light.svg" alt="" />
          </span>
          <p class="footer__desc">
            Kamol Construction - девелоперская и строительная компания. Компания
            ведет свою деятельность специлиазируясь на строительстве жилих
            комплексов.
          </p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer__nav">
          <span class="footer__title">Разделы</span>
          <ul class="list">
            <li class="list__item">
              <a class="list__link" href="#">О комлексе</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Преимущества</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Планировки</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Галерея</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="footer__subscribe">
          <span class="footer__title">Социальные сети</span>
          <div class="footer__inner">
            <a class="footer__icon icon-telegram" href="#" target="_blank"></a>
            <a class="footer__icon icon-instagram" href="#" target="_blank"></a>
            <a class="footer__icon icon-facebook" href="#" target="_blank"></a>
            <a class="footer__icon icon-youtube" href="#" target="_blank"></a>
          </div>
          <a class="footer__button" href="#">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copy">
  <div class="copy__items container">
    <p class="copy__text">
      © 2021 ООО «SAXOVAT RIVOJ SAVDO». Все права защищены
    </p>
    <a class="dev" href="#" target="_blank">
      Сайт разработан дизайн-студией “Stack”
    </a>
  </div>
</div>
