<section class="gallery">
  <span class="gallery__bg">
    <img src="img/gallery_bg.svg" alt="" />
  </span>
  <div class="gallery__bg-color"></div>
  <div class="container">
    <div class="gallery__inner">
      <span class="gallery__title">Галерея</span>
      <p class="gallery__desc">
        Просмотрите прекрасную архитектуру данного комплекса и внутренную
        инфаструктуру.
      </p>
      <a class="gallery__button" href="#">Посмотреть все</a>
    </div>
  </div>

  <div class="gallery__slider">
    <div class="gallery__slider-for">
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
    </div>
    <div class="gallery__slider-nav">
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
      <div class="gallery__slider-item">
        <img src="img/gallery.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
