<header class="header">
  <div class="header__items container">
    <a class="header__logo" href="#">
      <img src="img/logos/logo.svg" alt="" />
    </a>
    <nav class="header__nav nav">
      <ul class="list">
        <li class="list__item">
          <a class="list__link" href="#">О комплексе</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Преимущества</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">О комплексе</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Планировки</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Галерея</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Контакты</a>
        </li>
      </ul>

      <a class="header__button" href="tel:+998900511199">
        <span class="header__button-icon icon-phone"></span>
        +998 (90) 051-11-99
      </a>
    </nav>
  </div>
</header>
