<section class="hero" style="background-image: url('../img/hero_bg.png')">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__title-sup">Мир абсолютной</span>
        <span class="hero__title-sub">Надежности</span>
      </h1>
      <p class="hero__desc">
        Kamol Construction - не идет на компромисс между скоростью и качеством,
        а отдает приоритет надежности. Философия компании “Kamol Construction”
        заключается в высоких требованиях к своей деятельности и её непрерывном
        совершенствовании, честном введении бизнеса
      </p>
      <a class="hero__button button" href="#">Оставить заявку</a>
    </div>
    <div
      class="hero__images"
      style="background-image: url('../img/hero_sky.png')"
    >
      <div class="hero__images-building">
        <img src="img/hero_building.png" alt="" />
      </div>
      <div id="scene" class="hero__images-circle">
        <img data-depth="0.2" src="img/hero_circle.png" alt="" />
      </div>
    </div>
  </div>
</section>
