@media (max-width: 1440px) {
  .hero__images {
    width: 650px;
  }
  .gallery__slider {
    max-width: 700px;
  }
  .gallery__bg-color,
  .gallery__inner {
    height: 710px;
  }
  .gallery {
    height: 714px;
  }
}
