.benefits {
  position: relative;
  width: 100%;
  background: #f5fdff;

  &__items {
    margin-bottom: 100px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.benefit {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #e7e7e7;
  height: 121px;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 30px;
  transition: 0.3s;
  &:hover {
    border: 1px solid $primary;
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.31));
  }
  &__icon {
    display: block;
    color: $primary;
    font-size: 80px;
    margin-right: 15px;
  }
  &__title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__desc {
    font-size: 14px;
    line-height: 17px;
    color: #686868;
  }
}

.appartment {
  position: relative;
  &__circle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 680px;
  }
  &__items {
    margin-bottom: 50px;
  }
  &__title {
    display: block;
    margin-bottom: 13px;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__button {
    margin-right: 15px;
    padding: 13px 14px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      color: #000;
      border: 3px solid #000;
    }
  }
}

.module-border-wrap {
  position: relative;
  background: #e9e9e9;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 19px;
  &:last-child {
    margin-right: 0;
  }
  &--active {
    background: linear-gradient(
      90deg,
      #b57e10 0%,
      #b57e10 15.1%,
      #f9df7b 52.6%,
      #fff3a6 64.06%,
      #f9df7b 77.6%,
      #b57e10 100%
    );
  }
}

.module {
  background: #fff;
  color: #888;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
}
